.skillsMarquee {
  @apply 
    /* todo: add inline prop to skills component */ 
    /* absolute  */
    mx-auto
    max-w-[calc(100%_-_24px)]
    lg:max-w-6xl
    mb-24
}

.skills, .skillsReverse {
  @apply flex justify-around 
}


.skillsItem {
  @apply min-w-[80px] mx-6
}

.marquee {
  @apply w-full max-w-6xl  h-28  whitespace-nowrap overflow-hidden box-border relative grid;
  grid-template-columns: fit-content(300%);
}

.marquee::before, .marquee::after {
  @apply absolute h-full w-24 z-[1];
  content: "";
}

.marquee::before {
  left: 0;
  background: linear-gradient(to right, var(--background-color) 5%, transparent 100%);
}

.marquee::after {
  right: 0;
  background: linear-gradient(to left, var(--background-color) 5%, transparent 100%);
}

.marqueeContent {
  display: grid;
  grid-template-columns: fit-content(100%) fit-content(100%) fit-content(100%);
  animation: marquee 35s linear infinite forwards;
}

.marqueeContentReverse {
  display: grid;  
  direction: rtl;
  grid-template-columns: fit-content(100%) fit-content(100%) fit-content(100%);
  animation: marquee 35s linear infinite reverse;
}
.skillsItem img {
  filter: grey;
  -webkit-filter: grayscale(.5);
  filter: grayscale(.5)
}

.skillsItem img:hover {
  @apply filter-none transition-all duration-1000;
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-66.6%); }
}
































