.timelineContainer {
  @apply relative 
    w-[calc(100vw_-_20px)]
    max-w-[100vw]
}

.timeline {
  /* 200 (min-height) should be moved to Timeline.tsx */
  @apply min-h-0 flex-col max-h-[calc(100vh_-_150px)] relative;
  scroll-snap-type: both mandatory;
  transition: 1s ease-in-out;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  left: 50%;
  top: initial;
  margin-left: -3px;
}

.timeline::-webkit-scrollbar {
  width: 0px;
}

.exp {
  @apply min-h-[calc(100vh_-_150px)] mx-auto max-w-xl pl-3 border-l-2 border-white;
  scroll-snap-align: start;
}

.exp::before {
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

.company {
  @apply text-2xl
}

.title {
  @apply text-xl flex items-center
}

.fromTo {
  @apply mb-3
}

.duities {
  @apply text-sm
}


